<h1>list items</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Notes</th>
      <th>Wishlist</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @list_items.each do |list_item| %>
      <tr>
        <td><%= list_item.name %></td>
        <td><%= list_item.url %></td>
        <td><%= list_item.notes %></td>
        <td><%= list_item.wishlist_id %></td>
        <td><%= link_to 'show', list_item %></td>
        <td><%= link_to 'edit', edit_list_item_path(list_item) %></td>
        <td><%= link_to 'destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new list item', new_list_item_path %>
