<h1>all wishlists</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Owner ID</th>
      <th colspan='3'>Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @wishlists.each do |wishlist| %>
      <tr>
        <td><%= wishlist.title %></td>
        <td><%= wishlist.description %></td>
        <td><%= wishlist.user_id %></td>
        <td><%= link_to 'show', wishlist %></td>
        <td><%= link_to 'edit', edit_wishlist_path(wishlist) %></td>
        <td><%= link_to 'destroy', wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new list', new_wishlist_path %>
