<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='navigation'>
  <ul>
    <li>
      <%= link_to 'users', users_path %>
    </li>
    <li>
      <%= link_to 'wishlists', wishlists_path %>
    </li>
    <li>
      <%= link_to 'list items', list_items_path %>
    </li>
  </ul>
</div>

<%= yield %>

</body>
</html>
